
.container{

    padding-left: 2%;
    padding-left:2px;
    padding-top: 1PX;

    

    
}
.heading{
    color: maroon;


    
}
.img{
    height:22vh;
    width: 20vw;
    padding-right: 2%;
}
.heading2{
    color: maroon;
}
.place{
    padding-bottom: 2px;
    margin-bottom: 2px;
    font-size: x-large;
}
.img2{
height: 80px;
width: 150px;
}